* {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.8fr 3fr;
    background-color: #262223;
    margin: 0;
}

#sidebar {
    background: #1e1b1b;
    display: grid;
    gap: 16px;
    grid-template-rows: 4rem 1fr auto;
    height: 100%;
    overflow-y: auto;
    padding: 12px;
    scrollbar-width: none;
    user-select: none;
    min-width: 260px;
    z-index: 2;
}

.header, .project-header {
    color: #f4f4f4;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0 12px;
}

.dock-sidebar, .dock-main {
    cursor: pointer;
    fill: #f4f4f4;
    background-color: transparent;
    border: 0;
    height: 24px;
    padding: 0;
    width: 24px;
}

.dock-main {
    visibility: hidden;
}

.add-task-sidebar, .add-project {
    font-weight: 600;
}

.add-task-sidebar, .all-tasks, .priority-tasks, .today-tasks, .project-folder, .add-project {
    cursor: pointer;
    background-color: transparent;
    border-radius: 4px;
    color: #f4f4f4;
    font-size: 16px;
    padding: 8px 12px;
    text-align: left;
    border: none;
    width: 100%;
    }

.add-task-sidebar:hover, .all-tasks:hover, .priority-tasks:hover, .today-tasks:hover, .project-folder:hover, .add-project:hover {
    background-color: #3e393a
}

.add-task-sidebar:active, .all-tasks:active, .priority-tasks:active, .today-tasks:active, .project-folder:active, .add-project:active {
    background-color: #4f494a;
}

.project-header {
    padding: 16px 12px;
}

.main {
    color: #f4f4f4;
    margin: 0;
    padding: 12px 52px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-width: 400px;
}

.container {
    flex: 1;
}

.main-header {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 64px;
    justify-content: end;
    margin-bottom: 16px;
}

.add-task-main {
    color: #f4f4f4;
    cursor: pointer;
    border: none;
    background: transparent;
}

.add-task-main:hover {
    color: red
}

.title-bar {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(100, 100, 100);
}

h2 {
    font-size: 32px;
}

.task-item {
    align-items: start;
    border-bottom: 1px solid rgb(100, 100, 100);
    cursor: pointer;
    display: grid;
    gap: 12px;
    grid-template-columns: auto 1fr auto;
    padding: 16px 0;
}

.task-name {
    margin-bottom: 8px;
}

.task-notes {
    font-size: 12px;
    margin-bottom: 8px;
}

.metadata {
    align-items: center;
    display: grid;
    font-size: 12px;
    grid-template-columns: auto auto 1fr;
}

.edit-task {
    cursor: pointer;
    border: none;
    background: transparent;
}

.delete-task {
    background-size: 20px 20px;
    background-position: center;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    margin-top: 2px;
    width: 20px;
}

.delete-task:hover {
    background-color: #1e1b1b;
}